{% set uuid = 9000 | random | to_uuid %}
kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: {{ uuid[:-4] | b64encode }}
      - identity: {}