[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ internal_ip }} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file={{ sys_share_ca_dir }}/ownca.crt \
  --enable-admission-plugins=Initializers,NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --enable-swagger-ui=true \
  --etcd-cafile={{ sys_share_ca_dir }}/ownca.crt \
  --etcd-certfile={{ kube_data_dir }}/etcd-kube-client.pem \
  --etcd-keyfile={{ kube_data_dir }}/etcd-kube-client-key.pem \
  --etcd-servers=https://127.0.0.1:2379 \
  --event-ttl=1h \
  --experimental-encryption-provider-config={{ kube_data_dir }}/config/encryption-config.yaml \
  --kubelet-certificate-authority={{ sys_share_ca_dir }}/ownca.crt \
  --kubelet-client-certificate={{ kube_data_dir }}/kubernetes.pem \
  --kubelet-client-key={{ kube_data_dir }}/kubernetes-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file={{ kube_data_dir }}/service-account.pem \
  --service-cluster-ip-range=10.32.0.0/16 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file={{ kube_data_dir }}/kubernetes.pem \
  --tls-private-key-file={{ kube_data_dir }}/kubernetes-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target