[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --address=0.0.0.0 \
  --cluster-cidr=10.200.0.0/16 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ sys_share_ca_dir }}/ownca.crt \
  --cluster-signing-key-file={{ kube_data_dir }}/onwca-key.pem \
  --kubeconfig={{ kube_data_dir }}/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file={{ sys_share_ca_dir }}/ownca.crt \
  --service-account-private-key-file={{ kube_data_dir }}/service-account-key.pem \
  --service-cluster-ip-range=10.32.0.0/16 \
  --use-service-account-credentials=true \
  --allocate-node-cidrs=true \
  --cluster-cidr=10.200.0.0/16 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target